header {
  text-align: center;
  background-color: rgb(175, 224, 175);
  color: rgb(255, 255, 255);
}

h1 {

  font-family: 'Lobster', cursive;

}

#img {
  text-align: center;
}

body {

  background-color: aliceblue;

}

footer {
  text-align: center;
}

nav {

  font-family: 'Lobster', cursive;
  text-decoration-color: black;
}

#titulo {

  background-color: rgb(175, 224, 175);


}

@media screen and (max-width: 1050px) {

  #img {

    max-width: 100%;
    height: auto;
  }

  .calendario {
    max-width: auto;
    height: auto;
  }

  .turista {
    max-width: auto;
    height: auto;
  }
}

/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(0, 0, 0);
  } */


.carousel-inner img {
  width: 60%;
  max-height: 500px;
  height: 500px;
  margin-left: 0%;
  margin-right: 10%;

}

#logooo2 {
  margin-top: 50px;
  margin-left: 30px;
  position: absolute;
  width: 65px
}

#pres {

  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#pres2 {

  font-family: 'Nunito', sans-serif;

}

#pres3 {

  font-family: 'Nunito', sans-serif;
}

#pres4 {

  font-family: 'Nunito', sans-serif;
}

.card-body {

  background-image: url(../img/hojas3.jpg);
}


.nav-link {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-family: 'Lobster', cursive;
}

#iti {

  background-color: rgb(175, 224, 175);
  background-repeat: no-repeat;
  background-size: auto;
}

#gal {

  background-color: rgb(175, 224, 175);
  background-repeat: no-repeat;
  background-size: auto;
}

.calendario {

  text-align: center;
  margin-left: 10%;
  margin-right: 10%;

}

.turista {

  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#itinformation {

  text-align: center;
}

#itilistado {

  text-align: left;
}

