header{
    text-align: center;  
    background-color: rgb(175, 224, 175); 
    color: rgb(255, 255, 255);
    

    }

#img {
    text-align: center;
}

body{
 background-image: url(../img/fondo1.jpg);

}

footer{
    text-align: center;
}

nav{

    font-family: cursive;
}

#titulo{

  background-color: rgb(175, 224, 175);
}

@media screen and (max-width: 600px) {

   #img {
  
  max-width: 100%;
  height: auto;
    }

}

/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(0, 0, 0);
  } */
  
  
  .carousel-inner img{
   width: 50%;
   max-height: 300px;
   height:  300px;

  }

  #logo1{
    margin-left: 20px;
    position: absolute;
    width: 40px;
  }